<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parabank Test Suite">
    <test name="Functional Test">
        <classes>
            <class name="com.juaracoding.parabank.runners.RunnerTest"></class>
        </classes>
    </test>
</suite> 